<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for item in lista_itens %}
            <li>
            {{cliente.id}}:{{cliente.nome}}-{{cliente.idade}}-{{cliente.email}}-{{cliente.telefone}}-{{cliente.endereco}}
            </li>
        {%empty%}
            <li> Sem comentários na lista</li>
        {% endfor %}
    </ul>
</body>
</html>